<article>
  <h3><a href='#'>Blog Post Title</a></h3>
  <h6>Written by <a href='#'>Author</a> on August 12, 2012.</h6>
  <div class='row'>
    <div class='large-12 columns'>
      <%= entry.content %>
    </div>
  </div>
</article>
<hr />
