<article>
<h3><a href='#'><%= entry.title %></a></h3>
<h6><%= entry.etype.capitalize %> written by <a href='#'>cerickbrower@gmail.com</a> on <%= entry.created_at %></h6>
  <div class='row'>
    <div class='large-12 columns'>
      <%= entry.content %>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
    </div>
  </div>
</article>
<hr />
