<h3> Manage Entries </h3>
<table width='100%'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Date Created</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% for entry in @entries %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.etype %></td>
        <td><%= entry.created_at %></td>
        <td>
          <%= link_to 'delete', entry, method: :delete, confirm: 'You sure?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
