<%= provide(:title, 'Current Users') %>
<h3>Current Users</h3>

<table width='100%'>
  <thead>
    <tr>
      <th>Email Address</th>
      <th>Date Created</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
