<!-- Header and Nav -->
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Dex</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul> 
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><%= link_to 'Entries', entries_path %></li>
    </ul>
  </section>
  <section class="top-bar-section">
    <ul class="right">
      <li> <%= link_to 'Logout', '#' %> </li>
    </ul>
  </section>
</nav>
<!-- End Header and Nav -->
